/* Floating Action Buttons */
/* Reset styles */
.buttons-wrapper,
.buttons-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttons-wrapper * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.buttons-wrapper > li {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons-wrapper .form-actions li {
  margin-bottom: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Button styles */
.buttons-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px;
  z-index: 99;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}

.buttons-wrapper .form-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 26px 26px 0 26px;  /* ((57px - 45px) / 2) + 20px */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: bottom, opacity;
  transition-property: bottom, opacity;
  z-index: 0;
}

.buttons-wrapper .buttons-button {
  background-color: #fff;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: -5px 3px 20px 0 rgba(0, 0, 0, 0.35);
  box-shadow: -5px 3px 20px 0 rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  white-space: nowrap;
  min-width: 45px;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: padding, opacity;
  transition-property: padding, opacity;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
  color: transparent;
  font-size: 12px;
  font-weight: 600;
}

.buttons-wrapper .form-actions input,
.buttons-wrapper .form-wrapper input[type='submit'] {
  padding: 0;
}

.buttons-wrapper .buttons-button:hover,
.buttons-wrapper .buttons-button:focus,
.buttons-wrapper .form-actions input:hover,
.buttons-wrapper .form-actions input:focus,
.buttons-wrapper .form-wrapper input[type='submit']:hover,
.buttons-wrapper .form-wrapper input[type='submit']:focus {
  width: 100%;
  min-width: calc(116px - 50px - 15px);
  background-position: right 16px center;
  color: #000;
  -webkit-box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.28);
  padding: 0 50px 0 15px;
  text-indent: 0;
}

.buttons-wrapper .buttons-button.settings-menu {
  background-color: #004adc;
  width: 57px;
  height: 57px;
  background-image: url(../images/icons/more.svg);
  background-size: 5px 20px;
  background-position: center;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 100;
  position: relative;
}

.buttons-wrapper .buttons-button.edit-settings {
  background-image: url(../images/icons/settings.svg);
  background-color: #000;
}

.buttons-wrapper .buttons-button.edit-settings:hover,
.buttons-wrapper .buttons-button.edit-settings:focus {
  color: #fff;
}

.buttons-wrapper .buttons-button#edit-submit {
  background-image: url(../images/icons/save.svg);
}

.buttons-wrapper .buttons-button#edit-preview {
  background-image: url(../images/icons/preview.svg);
  background-size: 18px 11px;
}

.buttons-wrapper .buttons-button#edit-delete {
  background-image: url(../images/icons/delete.svg);
  background-size: 15px 16px;
}

.buttons-wrapper .buttons-button#edit-delete:hover,
.buttons-wrapper .buttons-button#edit-delete:focus {
  background-image: url(../images/icons/delete-red.svg);
  color: #d72222;
}

.buttons-wrapper.active .buttons-button.settings-menu,
.buttons-wrapper .buttons-button.settings-menu:hover,
.buttons-wrapper .buttons-button.settings-menu:focus,
.buttons-wrapper > li:hover .buttons-button.settings-menu {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url(../images/icons/close.svg);
  background-size: 17px;
  text-indent: -9999px;
  padding: 0;
}

/* Written twice to prevent breaking in Edge and IE */
.buttons-wrapper > li:focus-within .buttons-button.settings-menu {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url(../images/icons/close.svg);
  background-size: 17px;
  text-indent: -9999px;
  padding: 0;
}

.buttons-wrapper .form-actions.active,
.buttons-wrapper > li:hover .form-actions {
  bottom: 77px; /* 57px + 20px */
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Written twice to prevent breaking in Edge and IE */
.buttons-wrapper > li:focus-within .form-actions {
  bottom: 77px; /* 57px + 20px */
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons-wrapper .form-actions.active .buttons-button,
.buttons-wrapper > li:hover .form-actions .buttons-button {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Written twice to prevent breaking in Edge and IE */
.buttons-wrapper > li:focus-within .form-actions .buttons-button {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Settings styles */
/* Styles for current elements */
.layout-region-node-secondary {
  opacity: 0;
  visibility: hidden;
  height: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  min-width: 600px;
  max-width: 600px;
  -webkit-box-shadow: -5px 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.08);
  z-index: -2;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: opacity, height;
  transition-property: opacity, height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 768px) {
  body.active {
    overflow: hidden;
  }

  .layout-region-node-secondary.active {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
}

.layout-region-node-secondary.active {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  height: 90vh;
}

.layout-region-node-secondary .entity-meta {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.layout-region-node-secondary .entity-meta__header,
.layout-region-node-secondary .entity-meta .seven-details {
  border-top: none;
}

.layout-region-node-secondary .entity-meta,
.layout-region-node-secondary .entity-meta__header,
.layout-region-node-secondary .entity-meta .seven-details {
  background-color: #fff;
}

.layout-region-node-secondary .entity-meta__header,
.layout-region-node-secondary .seven-details__wrapper {
  padding: 38px 48px;
}

.layout-region-node-secondary .entity-meta .seven-details[open] {
  background-color: #f8f8f9;
}

.layout-region-node-secondary input.form-autocomplete,
.layout-region-node-secondary input.form-text,
.layout-region-node-secondary input.form-tel,
.layout-region-node-secondary input.form-email,
.layout-region-node-secondary input.form-url,
.layout-region-node-secondary input.form-search,
.layout-region-node-secondary input.form-number,
.layout-region-node-secondary input.form-color,
.layout-region-node-secondary input.form-file,
.layout-region-node-secondary input.form-date,
.layout-region-node-secondary input.form-time,
.layout-region-node-secondary textarea.form-textarea {
  background-color: #fff;
  border-color: #b8b8b8;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 41px;
  width: 100%;
}

.layout-region-node-secondary textarea.form-textarea {
  height: auto;
}

.layout-region-node-secondary input.form-autocomplete:focus,
.layout-region-node-secondary input.form-autocomplete:hover,
.layout-region-node-secondary input.form-autocomplete:active,
.layout-region-node-secondary input.form-text:focus,
.layout-region-node-secondary input.form-text:hover,
.layout-region-node-secondary input.form-text:active,
.layout-region-node-secondary input.form-tel:focus,
.layout-region-node-secondary input.form-tel:hover,
.layout-region-node-secondary input.form-tel:active,
.layout-region-node-secondary input.form-email:focus,
.layout-region-node-secondary input.form-email:hover,
.layout-region-node-secondary input.form-email:active,
.layout-region-node-secondary input.form-url:focus,
.layout-region-node-secondary input.form-url:hover,
.layout-region-node-secondary input.form-url:active,
.layout-region-node-secondary input.form-search:focus,
.layout-region-node-secondary input.form-search:hover,
.layout-region-node-secondary input.form-search:active,
.layout-region-node-secondary input.form-number:focus,
.layout-region-node-secondary input.form-number:hover,
.layout-region-node-secondary input.form-number:active,
.layout-region-node-secondary input.form-color:focus,
.layout-region-node-secondary input.form-color:hover,
.layout-region-node-secondary input.form-color:active,
.layout-region-node-secondary input.form-file:focus,
.layout-region-node-secondary input.form-file:hover,
.layout-region-node-secondary input.form-file:active,
.layout-region-node-secondary input.form-date:focus,
.layout-region-node-secondary input.form-date:hover,
.layout-region-node-secondary input.form-date:active,
.layout-region-node-secondary input.form-time:focus,
.layout-region-node-secondary input.form-time:hover,
.layout-region-node-secondary input.form-time:active,
.layout-region-node-secondary textarea.form-textarea:focus,
.layout-region-node-secondary textarea.form-textarea:hover,
.layout-region-node-secondary textarea.form-textarea:active {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.layout-region-node-secondary .button {
  min-width: 140px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 0;
  background-color: #0049da;
  background-image: none;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  margin: 0 2rem 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.layout-region-node-secondary .button:active,
.layout-region-node-secondary .button:hover,
.layout-region-node-secondary .button:focus {
  background-color: #0049da;
  background-image: none;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.layout-region-node-secondary .button:disabled,
.layout-region-node-secondary .button:disabled:active,
.layout-region-node-secondary .button.is-disabled,
.layout-region-node-secondary .button.is-disabled:active {
  background: rgba(0, 73, 218, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: default;
  text-shadow: none;
}

.layout-region-node-secondary .form-type-radio .description,
.layout-region-node-secondary .form-type-checkbox .description {
  width: 100%;
  margin: 0;
}

.layout-region-node-secondary .form-type-checkbox input {
  opacity: 0;
  position: absolute;
}

.layout-region-node-secondary .form-type-checkbox label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #222330;
  margin-right: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: center;
}

.layout-region-node-secondary .form-type-checkbox input:checked + label::before {
  background-image: url(../images/icons/check.svg);
}

.layout-region-node-secondary .form-type-checkbox.form-disabled label::before {
  opacity: 0.6;
}

.layout-region-node-secondary details > summary {
  color: #222330;
}

::-webkit-details-marker {
  display: none;
}

.layout-region-node-secondary details > summary {
  list-style: none;
}

.layout-region-node-secondary details > summary::-webkit-details-marker {
  display:none;
}

.layout-region-node-secondary .collapse-processed > summary::before,
.layout-region-node-secondary :not([open]).collapse-processed > summary::before {
  background: none;
  padding: 0.85em 0;
}

.layout-region-node-secondary details > summary::after {
  background-image: url(../images/icons/arrow-forward.svg);
  display: block;
  height: 15px;
  width: 15px;
  content: '';
  background-size: contain;
  float: left;
  margin-right: 10px;
}

.layout-region-node-secondary details[open] > summary::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.layout-region-node-secondary .seven-details__summary:hover,
.layout-region-node-secondary .seven-details__summary:focus,
.layout-region-node-secondary .seven-details[open] > .seven-details__summary,
.layout-region-node-secondary details > summary:hover,
.layout-region-node-secondary details > summary:focus,
.layout-region-node-secondary details[open] > summary {
  color: #004adc;
}

.layout-region-node-secondary select,
.layout-region-node-secondary select:hover,
.layout-region-node-secondary select:focus {
  height: 41px;
  width: 100%;
  padding-right: 40px;
  border: 1px solid #bfbfbf;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: right 16px center;
  background-size: 15px;
  border-radius: 3px;
}

.layout-region-node-secondary select::-ms-expand {
  display: none;
}

.layout-region-node-secondary .chosen-container-single .chosen-single,
.layout-region-node-secondary .chosen-container-active.chosen-with-drop .chosen-single {
  height: 41px;
  width: 100%;
  padding-right: 40px;
  border: 1px solid #bfbfbf;
  background-image: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.layout-region-node-secondary .chosen-container-active.chosen-with-drop .chosen-single {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.layout-region-node-secondary .chosen-container-single .chosen-single div {
  width: 47px;
}

.layout-region-node-secondary .chosen-container-single .chosen-single div b,
.layout-region-node-secondary .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-image: url(../images/icons/arrow-down.svg) !important;
  background-repeat: no-repeat !important;
  background-color: #fff;
  background-position: right 16px center;
  background-size: 15px !important;
}

.layout-region-node-secondary .chosen-container-active.chosen-with-drop .chosen-single div b {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.layout-region-node-secondary .field--widget-datetime-timestamp .container-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.layout-region-node-secondary .field--widget-datetime-timestamp .container-inline > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: 50%;
}

.layout-region-node-secondary .field--widget-datetime-timestamp .container-inline > div:first-child {
  margin-right: 20px;
}

.layout-region-node-secondary .field--widget-moderation-state-buttons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
}

.layout-region-node-secondary .field--widget-moderation-state-buttons > div
  .button {
  margin: 0 0 20px 0;
}

/* Styles for new elements */
.settings-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  background-color: #222330;
  height: 50px;
}

.settings-wrapper .settings-title {
  font-size: 14px;
  color: #fff;
  background-position: left;
  padding-left: 30px;
  background-size: 18px;
  background-image: url(../images/icons/settings.svg);
  background-repeat: no-repeat;
}

.settings-wrapper .settings-close {
  background-size: 15px;
  text-indent: -9999px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  border: none;
  width: 0;
  padding: 10px;
}
